/* Declare Font Family */
@font-face {
  font-family: krunker;
  src: url(fonts/FFFForward.ttf);
}

/* Item Text Properties */
.item h1 {
  font-family: krunker;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  white-space: nowrap;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  z-index: 1;
}

/* Gallery Formatting */
.gallery,
#myWishlistGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4em;
}

/* Properties for Empty Wishlist Message in loadWishlist.js */
.message {
  font-family: krunker;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  color: rgba(41, 41, 41, 0.425);
}

/* Properties for each Item Card Div */
.item {
  background-color: rgba(0, 0, 0, 0.288);
  border: 3px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.603);
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative; /* Needed for Item Label */
  aspect-ratio: 1/1;
  width: 160px;

  /* Variables for Scroll Fade In & Mouse Hover */
  opacity: 0;
  --hover-scale: 1;
  --fade-transform: translateY(20px) scale(0.9);
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  /* Compose final transform */
  transform: var(--fade-transform) scale(var(--hover-scale));
}

/* Fade and Scale items when entering/leaving the page */
.item.fade-in {
  --fade-transform: translateY(0) scale(1);
  opacity: 1;
}

/* Scale .item up on mouse hover */
.item:hover {
  --hover-scale: 1.03;
  transition-duration: 0.1s;
}

/* Properties for an Image within an Item Class */
.item img {
  display: block;
  object-fit: contain;
  width: 100%;
  border-radius: 10px !important;
}

/* Scale down .item elements for small screens */
@media (min-width: 353px) and (max-width: 392px) {
  .item,
  .item img {
    width: 140px;
  }

  .item h1,
  .item button {
    font-size: 14px;
  }

  .item button {
    padding: 6px 14px;
  }

  .item .addToWishlistButton {
    font-size: 72%;
    padding: 6px 10px;
  }
}

/* Scale down .item elements again for mini screens */
@media (min-width: 320px) and (max-width: 353px) {
  .item,
  .item img {
    width: 120px;
  }

  .item h1,
  .item button {
    font-size: 12px;
  }

  .item button {
    padding: 6px 12px;
    margin: 3px;
  }

  .item .inWishlistButton {
    padding: 5px 12px;
    font-size: 70%;
  }

  .item .addToWishlistButton {
    padding: 8px 8px;
    font-size: 62%;
  }
}

/* NFT Rarity Properties */
.nft,
.nft h1 {
  color: #f3b8ff;
  border-color: #f3b8ff;
}

/* Unobtainable Rarity Properties */
.unob,
.unob h1 {
  animation: flash 0.7s ease-out infinite;
}

/* Animate the border of .unob items */
@keyframes flash {
  0% {
    border-color: yellow;
    color: yellow;
  }
  25% {
    border-color: blue;
    color: blue;
  }
  50% {
    border-color: green;
    color: green;
  }
  75% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: yellow;
    color: yellow;
  }
}

/* Contraband Rarity Properties */
.contra,
.contra h1 {
  border-color: #111111;
  color: #111111;
  text-shadow: 0.5px 0.5px 1px rgb(206, 206, 206);
}

/* Relic Rarity Properties */
.relic,
.relic h1 {
  border-color: #ed4242;
  color: #ed4242;
}

/* Legendary Rarity Properties */
.legendary,
.legendary h1 {
  border-color: #fbc02d;
  color: #fbc02d;
}

/* Epic Rarity Properties */
.epic,
.epic h1 {
  border-color: #e040fb;
  color: #e040fb;
}

/* Rare Rarity Properties */
.rare,
.rare h1 {
  border-color: #2196f3;
  color: #2196f3;
}

/* Uncommon Rarity Properties */
.uncommon,
.uncommon h1 {
  border-color: #b2f252;
  color: #b2f252;
}

/* Free Rarity Properties */
.free,
.free h1 {
  border-color: #d3d3d3;
  color: #d3d3d3;
}

/* Website Body Properties  */
body {
  background-color: #302e2df3;
  background-image: url("images/bgLogo.png");
  background-repeat: repeat;
  background-size: 100px 100px;
}

/* Can be used to center an object */
.centerBottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  position: absolute;
  left: 40%;
  top: 85%;
}

/* Can be used to center an object */
.centerTop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  position: absolute;
  left: 33%;
  top: 6%;
}

/* Scrollbar properties */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f56c;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 10px;
}

/* Styling for Items within a Default Button Container */
.item .default-button-container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: none;
  z-index: 2;
}

.item:hover .default-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
}

/* Styling for Items within an Excluded Button Container */
.item .excluded-button-container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: none;
  z-index: 2;
}

.item:hover .excluded-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
}

/* General Button Styling */
.button {
  font-family: krunker;
  border: none;
  background-color: #302e2df3;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 4px 0;
  transition: transform 0.2s ease-in-out;
}

/* removeButton Styling */
.removeButton {
  font-family: krunker;
  border: none;
  background-color: #915252f3;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 4px 0;
  transition: transform 0.2s ease-in-out;
}

/* addToWishlistButton Styling */
.addToWishlistButton {
  font-family: krunker;
  font-size: 75%;
  border: none;
  background-color: #302e2df3;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 4px 0;
  transition: transform 0.2s ease-in-out;
}

/* inWishlistButton Styling */
.inWishlistButton {
  font-family: krunker;
  font-size: 75%;
  border: none;
  background-color: #699152f3;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 4px 0;
}

/* cannotBeSold Button Styling */
.cannotBeSold {
  font-family: krunker;
  font-size: 115%;
  border: none;
  background-color: #302e2d79;
  color: rgb(255, 255, 255);
  padding: 0px 20px 10px 20px;
  border-radius: 5px;
  margin: 4px 0;
  opacity: 75%;
}

/* General Button Hover Animation */
.button:hover {
  transform: scale(1.05);
  background-color: #242221f3;
}

/* Remove Button Hover Animation */
.removeButton:hover {
  transform: scale(1.05);
  background-color: #743f3ff3;
}

/* addToWishlistButton Hover Animation */
.addToWishlistButton:hover {
  transform: scale(1.05);
  background-color: #242221f3;
}

/* Bounce animation for .buttons onClick */
.buttonBounce {
  animation: bounceOnClick 0.3s ease forwards;
}

@keyframes bounceOnClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-family: krunker;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  flex-wrap: nowrap;
  height: 42px;
}

.navbar {
  transition: all 0.3s ease;
}

/* Left Navbar Group - Logo */
.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Center Navbar Group - Search Bar & Remove All Items button */
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Right Navbar Group - Navbar links & Slider-Container */
.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

/* Navbar Links Group Styling */
.navbar-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

/* Individual Navbar Link Styling */
.nav-link {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.2s;
  text-align: center;
  white-space: nowrap;
  transition: transform 0.2s ease-in, color 0.2s ease;
  display: inline-block; /* Enables transform to work nicely */
}

/* Individual Navbar Link Hover Animation */
.nav-link:hover {
  color: #666;
  transform: scale(0.98);
}

/* Make navbar layered on mobile portrait screens */
@media (max-width: 790px) and (orientation: portrait) {
  .gallery,
  #myWishlistGallery {
    padding-top: 160px;
  }

  .navbar {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding: 10px;
  }

  .navbar-left,
  .navbar-center {
    width: 100%;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .navbar-right {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .navbar-search {
    width: 90%;
    max-width: 300px;
  }

  .navbar-links {
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    margin-right: 0;
  }
}

/* Navbar Logo Animation */
.navbar-home {
  font-size: 24px;
  font-weight: bold;
  color: white; /* Initial color before animation */
  text-decoration: none;
  animation: flash 10s infinite;
  transition: text-shadow 0.3s ease, transform 0.3s ease-in; /* Smooth transition for the glow effect */
  padding: 4px; /* Add slight padding */
  overflow: visible; /* Ensure glow/shadow isn't clipped */
  display: inline-block; /* So transform & padding apply correctly */
}

/* Navbar glow effect on hover */
.navbar-home:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transform: scale(1.05);
}

/* Search Bar Styling */
.navbar-search {
  font-family: krunker;
  list-style: none;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #5f5f5f;
}

/* Search Bar placeholder Styling */
.navbar-search::placeholder {
  color: white;
  transition: color 0.2s;
}

/* When hovering over the search bar, change the placeholder color */
.navbar-search:hover::placeholder {
  color: grey;
}

/* Remove All Hover Animation */
#remove-all-link:hover {
  color: rgb(128, 24, 24);
}

/* Footer Styling */
.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.footer-content {
  margin: 0 auto;
  text-align: center;
  font-family: krunker;
  font-size: 8px;
}

.footer-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.footer a {
  line-height: 12px;
}

.footer-icon img {
  height: 15px;
  margin-right: 5px;
}

.footer-icon img:hover {
  height: 17px;
}

.image-container {
  position: relative;
}

/* Styling slider-container from wishlist.js */
.slider-container {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center;
  justify-content: center;
  overflow: visible;
}

/* Holds the text elements within .slider-container */
.slider-label-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;

  font-smooth: never; /* Keep Font Pixelated */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;

  overflow: visible;
  display: inline-block;
}

/* Displays the slider value */
.slider-label {
  font-size: 14px;
  color: white;
  text-decoration: none;
  overflow: visible;
  display: inline-block;
}

/* GUI Text Button */
#reset-slider {
  transition: transform 0.2s ease-in, color 0.2s ease;
  display: inline-block; /* Enables transform to work nicely */
}

/* GUI Text Button Hover animations */
#reset-slider:hover {
  color: rgb(128, 128, 24);
  transform: scale(0.99);
}
